
<!doctype html>
<html lang="en-US">

<head>
  <meta charset="UTF-8">
  <title>Should You Divorce ?</title>
  <link rel="shortcut icon" href="static/img/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="static/img/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="static/img/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="static/img/favicon-16x16.png">
<link rel="manifest" href="static/img/site.webmanifest">
<!-- Icons font CSS-->
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">

    <!-- Main CSS-->
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  
</head>
<body>

 <div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
        <div class="wrapper wrapper--w790">
            <div class="card card-5">
                <div class="card-heading">
                    <h2 class="title">Should you divorce ?</h2>
                    <p align="center">
  <img class="img" src="static/img/logo.png" width="10%"></p>
                    <h3 class="subtitle">Answer the questions</h3>
	<p class="subsubtitle"> Questions are ranked on a scale of 1-5 with 1 being the lowest and 5 being the highest. </p>

                </div>
                <div id="google_translate_element"></div>
<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
}
</script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
                <div class="card-body">
<div class="container">
	<form method="POST">
		<div class="field" tabindex="1">
			<label class="name" class="name" for="Q1"> 1. If one of us apologizes when our discussion deteriorates, the discussion ends. </label>
			<input name="Q1" id="Q1" type="number" class="input--style-5" class="input--style-5" placeholder="1 to 5" required min="1" max="5"> </br>
		    <label class="name" class="name" for="Q2"> 2. I know we can ignore our differences, even if things get hard sometimes. </label>
			<input name="Q2" id="Q2" type="number" class="input--style-5" placeholder="1 to 5" required min="1" max="5"> </br>
		    <label class="name" for="Q3"> 3. When we need it, we can take our discussions with my spouse from the beginning and correct it. </label>
			<input name="Q3" id="Q3" type="number" class="input--style-5" placeholder="1 to 5" required min="1" max="5"> </br>
		    <label class="name" for="Q4"> 4. When I discuss with my spouse, to contact him will eventually work. </label>
			<input name="Q4" id="Q4" type="number" class="input--style-5" placeholder="1 to 5" required min="1" max="5"> </br>
		    <label class="name" for="Q5"> 5. I know we can ignore our differences, even if things get hard sometimes. </label>
			<input name="Q5" id="Q5"  type="number" class="input--style-5" placeholder="1 to 5" required min="1" max="5"> </br>
			<label class="name" for="Q6"> 6. We don't have time at home as partners. </label>
			<input name="Q6" id="Q6" type="number" class="input--style-5" placeholder="1 to 5" required min="1" max="5"> </br>
		    <label class="name" for="Q7"> 7. We are like two strangers who share the same environment at home rather than family. </label>
			<input name="Q7" id="Q7" type="number" class="input--style-5" placeholder="1 to 5" required min="1" max="5"> </br>
		    <label class="name" for="Q8"> 8. I enjoy our holidays with my wife. </label>
			<input name="Q8" id="Q8" type="number" class="input--style-5" placeholder="1 to 5" required min="1" max="5"> </br>
		    <label class="name" for="Q9"> 9. I enjoy traveling with my wife. </label>
			<input name="Q9" id="Q9" type="number" class="input--style-5" placeholder="1 to 5" required min="1" max="5"> </br>
		    <label class="name" for="Q10"> 10. Most of our goals are common to my spouse. </label>
			<input name="Q10" id="Q10"  type="number" class="input--style-5" placeholder="1 to 5" required min="1" max="5"> </br>
			 <label class="name" for="Q11"> 11. I think that one day in the future, when I look back, I see that my spouse and I have been in harmony with each other. </label>
			<input name="Q11" id="Q11" type="number" class="input--style-5" placeholder="1 to 5" required min="1" max="5"> </br>
			<label class="name" for="Q12"> 12. My spouse and I have similar values in terms of personal freedom. </label>
			<input name="Q12" id="Q12" type="number" class="input--style-5" placeholder="1 to 5" required min="1" max="5"> </br>
		    <label class="name" for="Q13"> 13. My spouse and I have similar sense of entertainment. </label>
			<input name="Q13" id="Q13" type="number" class="input--style-5" placeholder="1 to 5" required min="1" max="5"> </br>
		    <label class="name" for="Q14"> 14. Most of our goals for people (children, friends, etc.) are the same. </label>
			<input name="Q14" id="Q14" type="number" class="input--style-5" placeholder="1 to 5" required min="1" max="5"> </br>
		    <label class="name" for="Q15"> 15. Our dreams with my spouse are similar and harmonious. </label>
			<input name="Q15" id="Q15" type="number" class="input--style-5" placeholder="1 to 5" required min="1" max="5"> </br>
		    <label class="name" for="Q16"> 16. We're compatible with my spouse about what love should be.. </label>
			<input name="Q16" id="Q16" type="number" class="input--style-5" placeholder="1 to 5" required min="1" max="5"> </br>
			<label class="name" for="Q17"> 17. We share the same views about being happy in our life with my spouse </label>
			<input name="Q17" id="Q17" type="number" class="input--style-5" placeholder="1 to 5" required min="1" max="5"> </br>
		    <label class="name" for="Q18"> 18. My spouse and I have similar ideas about how marriage should be </label>
			<input name="Q18" id="Q18" type="number" class="input--style-5" placeholder="1 to 5" required min="1" max="5"> </br>
		    <label class="name" for="Q19"> 19. My spouse and I have similar ideas about how roles should be in marriage </label>
			<input name="Q19" id="Q19" type="number" class="input--style-5" placeholder="1 to 5" required min="1" max="5"> </br>
		    <label class="name" for="Q20"> 20. My spouse and I have similar values in trust. </label>
			<input name="Q20" id="Q20" type="number" class="input--style-5" placeholder="1 to 5" required min="1" max="5"> </br>
		    <label class="name" for="Q21"> 21. I know exactly what my wife likes. </label>
			<input name="Q21" id="Q21" type="number" class="input--style-5" placeholder="1 to 5" required min="1" max="5"> </br>
			 <label class="name" for="Q22"> 22. I know how my spouse wants to be taken care of when she/he sick. </label>
			<input name="Q22" id="Q22" type="number" class="input--style-5" placeholder="1 to 5" required min="1" max="5"> </br>
			<label class="name" for="Q23"> 23. I know my spouse's favorite food. </label>
			<input name="Q23" id="Q23" type="number" class="input--style-5" placeholder="1 to 5" required min="1" max="5"> </br>
		    <label class="name" for="Q24"> 24. I can tell you what kind of stress my spouse is facing in her/his life. </label>
			<input name="Q24" id="Q24" type="number" class="input--style-5" placeholder="1 to 5" required min="1" max="5"> </br>
		    <label class="name" for="Q25"> 25. I have knowledge of my spouse's inner world. </label>
			<input name="Q25" id="Q25" type="number" class="input--style-5" placeholder="1 to 5" required min="1" max="5"> </br>
		    <label class="name" for="Q26"> 26. I know my spouse's basic anxieties. </label>
			<input name="Q26" id="Q26" type="number" class="input--style-5" placeholder="1 to 5" required min="1" max="5"> </br>
		    <label class="name" for="Q27"> 27. I know what my spouse's current sources of stress are. </label>
			<input name="Q27" id="Q27" type="number" class="input--style-5" placeholder="1 to 5" required min="1" max="5"> </br>
			<label class="name" for="Q28"> 28. I know my spouse's hopes and wishes. </label>
			<input name="Q28" id="Q28" type="number" class="input--style-5" placeholder="1 to 5" required min="1" max="5"> </br>
		    <label class="name" for="Q29"> 29. I know my spouse very well. </label>
			<input name="Q29" id="Q29"type="number" class="input--style-5" placeholder="1 to 5" required min="1" max="5"> </br>
		    <label class="name" for="Q30"> 30. I know my spouse's friends and their social relationships. </label>
			<input name="Q30" id="Q30" type="number" class="input--style-5" placeholder="1 to 5" required min="1" max="5"> </br>
		    <label class="name" for="Q31"> 31. I feel aggressive when I argue with my spouse. </label>
			<input name="Q31" id="Q31" type="number" class="input--style-5" placeholder="1 to 5" required min="1" max="5"> </br>
		    <label class="name" for="Q32"> 32. When discussing with my spouse, I usually use expressions such as ‘you always’ or ‘you never’. </label>
			<input name="Q32" id="Q32" type="number" class="input--style-5" placeholder="1 to 5" required min="1" max="5"> </br>
			 <label class="name" for="Q33"> 33. I can use negative statements about my spouse's personality during our discussions. </label>
			<input name="Q33" id="Q33" type="number" class="input--style-5" placeholder="1 to 5" required min="1" max="5"> </br>
			<label class="name" for="Q34"> 34. I can use offensive expressions during our discussions. </label>
			<input name="Q34" id="Q34" type="number" class="input--style-5" placeholder="1 to 5" required min="1" max="5"> </br>
		    <label class="name" for="Q35"> 35. I can insult my spouse during our discussions. </label>
			<input name="Q35" id="Q35" type="number" class="input--style-5" placeholder="1 to 5" required min="1" max="5"> </br>
		    <label class="name" for="Q36"> 36. I can be humiliating when we discussions. </label>
			<input name="Q36" id="Q36" type="number" class="input--style-5" placeholder="1 to 5" required min="1" max="5"> </br>
		    <label class="name" for="Q37"> 37. My discussion with my spouse is not calm. </label>
			<input name="Q37" id="Q37" type="number" class="input--style-5" placeholder="1 to 5" required min="1" max="5"> </br>
		    <label class="name" for="Q38"> 38. I hate my spouse's way of open a subject. </label>
			<input name="Q38" id="Q38" type="number" class="input--style-5" placeholder="1 to 5" required min="1" max="5"> </br>
			<label class="name" for="Q39"> 39. Our discussions often occur suddenly. </label>
			<input name="Q39" id="Q39" type="number" class="input--style-5" placeholder="1 to 5" required min="1" max="5"> </br>
		    <label class="name" for="Q40"> 40. We're just starting a discussion before I know what's going on. </label>
			<input name="Q40" id="Q40" type="number" class="input--style-5" placeholder="1 to 5" required min="1" max="5"> </br>
		    <label class="name" for="Q41"> 41. When I talk to my spouse about something, my calm suddenly breaks. </label>
			<input name="Q41" id="Q41" type="number" class="input--style-5" placeholder="1 to 5" required min="1" max="5"> </br>
		    <label class="name" for="Q42"> 42. When I argue with my spouse, ı only go out and I don't say a word. </label>
			<input name="Q42" id="Q42" type="number" class="input--style-5" placeholder="1 to 5" required min="1" max="5"> </br>
		    <label class="name" for="Q43"> 43. I mostly stay silent to calm the environment a little bit. </label>
			<input name="Q43" id="Q43" type="number" class="input--style-5" placeholder="1 to 5" required min="1" max="5"> </br>
			 <label class="name" for="Q44"> 44. Sometimes I think it's good for me to leave home for a while. </label>
			<input name="Q44" id="Q44" type="number" class="input--style-5" placeholder="1 to 5" required min="1" max="5"> </br>
			<label class="name" for="Q45"> 45. I'd rather stay silent than discuss with my spouse. </label>
			<input name="Q45" id="Q45" type="number" class="input--style-5" placeholder="1 to 5" required min="1" max="5"> </br>
		    <label class="name" for="Q46"> 46. Even if I'm right in the discussion, I stay silent to hurt my spouse. </label>
			<input name="Q46" id="Q46" type="number" class="input--style-5" placeholder="1 to 5" required min="1" max="5"> </br>
		    <label class="name" for="Q47"> 47. When I discuss with my spouse, I stay silent because I am afraid of not being able to control my anger. </label>
			<input name="Q47" id="Q47" type="number" class="input--style-5" placeholder="1 to 5" required min="1" max="5"> </br>
		    <label class="name" for="Q48"> 48. I feel right in our discussions. </label>
			<input name="Q48" id="Q48" type="number" class="input--style-5" placeholder="1 to 5" required min="1" max="5"> </br>
		    <label class="name" for="Q49"> 49. I have nothing to do with what I've been accused of. </label>
			<input name="Q49" id="Q49" type="number" class="input--style-5" placeholder="1 to 5" required min="1" max="5"> </br>
			<label class="name" for="Q50"> 50. I'm not actually the one who's guilty about what I'm accused of. </label>
			<input name="Q50" id="Q50" type="number" class="input--style-5" placeholder="1 to 5" required min="1" max="5"> </br>
		    <label class="name" for="Q51"> 51. I'm not the one who's wrong about problems at home. </label>
			<input name="Q51" id="Q51" type="number" class="input--style-5" placeholder="1 to 5" required min="1" max="5"> </br>
		    <label class="name" for="Q52"> 52. I wouldn't hesitate to tell my spouse about her/his inadequacy. </label>
			<input name="Q52" id="Q52" type="number" class="input--style-5" placeholder="1 to 5" required min="1" max="5"> </br>
		    <label class="name" for="Q53"> 53. When I discuss, I remind my spouse of her/his inadequacy. </label>
			<input name="Q53" id="Q53" type="number" class="input--style-5" placeholder="1 to 5" required min="1" max="5"> </br>
		    <label class="name" for="Q54"> 54. I'm not afraid to tell my spouse about her/his incompetence. </label>
			<input name="Q54" id="Q54" type="number" class="input--style-5" placeholder="1 to 5" required min="1" max="5"> </br>
</div>
		<div class="buttoncontainer"> <button type="button" onclick="setRandomValue()" class="buttonrandom" >Fill with random * </button>
		 <button type="submit" class="buttonrandom" >Predict</button></div>
		  <br>
		  <p style="text-align: center; font-size:30px">{{output}}</p>
	</form>
	<br>
	<br>
	<p> * At this point, if you use this button then you should really consider divorce if you are ready to put the fate of your couple in the hands of chance! </p>
	{{prediction}}
</div></div></div></div></div>
<script>
function setRandomValue(){
	let questions = [] ; 
	for(let x=1; x <= 54 ; x++){
		questions.push('Q'+x.toString())
	}
	for (const element of questions) {
  		document.getElementById(element).value = Math.floor(Math.random() * 5) + 1;;
	}
}
</script>
</body>
</html>

